@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap");
/* CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Source Sans 3", sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
.container {
  margin-left: 150px;
  margin-right: 150px;
}
body { 
  background-color: rgba(238, 238, 255, 1);
}
/* End CSS Reset */
/* Header Section */
.header {
  position: relative;
  overflow: hidden;
  padding-top: 58px;
  height: 577px;
  background: linear-gradient(rgba(15, 15, 51, 1), rgba(5, 5, 23, 1));
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.logo-wrapper {
  height: 50px;
  width: 50px;
  background-color: rgba(58, 58, 244, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-title {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.7px;
}
.navbar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.navbar-header a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.navbar-header > .active-link {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
}
.btn-my-account {
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100px;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 0.3px;
  font-size: 0.9rem;
}
/* End Header Section */
/* Hero Section */
.hero {
  height: 100%;
  color: rgba(255, 255, 255, 1);
}
.hero-information {
  max-width: 653px;
  margin-top: 75px;
}
.information-title {
  font-weight: 400;
  max-width: 70ch;
  line-height: 28px;
}
.information-search {
  margin-top: 30px;
}
.form-group {
  position: relative;
  display: flex;
}
.search-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 13px;
  left: 16px;
}
.form-search {
  border: none;
  outline: none;
  padding: 18px 24px 18px 56px;
  flex: 80%;
  font-family: inherit;
}
.form-search::placeholder {
  font-weight: 600;
  font-size: 1rem;
}
.btn-search-submit {
  flex: 20%;
  background-color: rgba(58, 58, 244, 1);
  color: rgba(255, 255, 255, 1);
  font-family: inherit;
  font-weight: 500;
  font-size: 0.9rem;
}
.information-popular {
  margin-top: 20px;
  display: flex;
  gap: 14px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.6);
}
.information-recently {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  text-decoration: underline;
  letter-spacing: normal;
}
/* End Hero Section */
/* Main Section */
.main {
  background-color: rgba(238, 238, 255, 1);
  padding-top: 92px;
  padding-bottom: 76px;
}
.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: repeat(2, minmax(23px, 1fr));
  gap: 30px;
}
.item {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  box-shadow: 0px 30px 60px rgba(58, 58, 244, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.item-header {
  display: flex;
  align-items: center;
  gap: 16px;
}
.item-header > h4 {
  font-weight: 700;
}
.item-logo-wrapper {
  height: 50px;
  width: 50px;
  padding: 15px;
  border-radius: 50%;
}
.server-stacks {
  background-color: rgba(224, 255, 184, 1);
}
.grid {
  background-color: rgba(184, 255, 251, 1);
}
.shield {
  background-color: rgba(255, 184, 205, 1);
}
.email {
  background-color: rgba(255, 215, 184, 1);
}
.carts {
  background-color: rgba(185, 255, 184, 1);
}
.server-setup {
  background-color: rgba(219, 184, 255, 1);
}
.item-content {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}
.item-content:first-child {
  margin-top: 0px;
}
.item-content > p {
  font-weight: 600;
}
.item-content-image {
  width: 20px;
  height: 20px;
}
/* End Main Section */
/* Footer Section */
.footer {
  padding-left: 130px;
  padding-right: 130px;
  background-color: rgba(6, 6, 26, 1);
  border-top-right-radius: 108px;
  color: rgba(255, 255, 255, 1);
}
.footer-chat-support {
  padding-top: 70px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-description > h3 {
  font-weight: 600;
  font-size: 1.5rem;
}
.chat-description > p {
  width: 60ch;
  font-weight: 400;
  font-size: 0.95rem;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 10px;
  line-height: 32px;
}
.footer-intouch-support {
  position: relative;
}
.chat {
  position: absolute;
  top: 25px;
  left: 25px;
}
.btn-chat {
  background-color: rgba(58, 58, 244, 1);
  color: inherit;
  font-family: inherit;
  padding: 25px 45px 25px 60px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 0.9rem;
}
.footer-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 31px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.contact > h4 {
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.6);
}
.contact-item > p {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  line-height: 28px;
}
.contact-item:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.contact > h4 {
  margin-bottom: 20px;
}
.contact-lists > li {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}
.footer-logo {
  display: flex;
  gap: 15px;
  align-items: center;
}
.footer-logo > p {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.95px;
}
.footer-description-wrapper {
  width: 50px;
  height: 50px;
  background-color: rgba(58, 58, 244, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-copyright {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.85rem;
}
/* End Footer Section */
.wave {
  position: absolute;
  top: 132px;
  right: -2px;
  width: 42%;
  object-fit: contain;
}
.btn {
  border: none;
  outline: none;
}
